[aria-label] {
  display: flex;
  justify-content: center;
  border: 1px;
  border-style: groove;
  border-color: rgba(241, 233, 233, 0.459);
  border-bottom-style: none;
  border-top-style: none;
  background-color: rgb(10, 10, 10);
}

.item {
  display: inline;
}

.pagination {
  margin-left: -20px;
}

.page-item-select {
  display: none;
  background-color: rgba(22, 21, 21, 0.459);
}

.page-item {
  display: inline;
  padding: 7px;
  margin: 5px;
  background-color: rgb(10, 10, 10);
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(241, 233, 233, 0.459);
  text-decoration: none;
  cursor: pointer;
}

.page-item:hover {
  background-color: rgba(241, 233, 233, 0.459);
}

.page-item-active {
  display: inline;
  padding: 7px;
  margin: 5px;
  background-color: rgba(241, 233, 233, 0.459);
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(241, 233, 233, 0.459);
  text-decoration: none;
  cursor: default;
}
