.page-item-selected {
  display: flex;
  justify-content: space-around;
  background-color: #00bc8c;
}
.page-item:active {
  display: flex;
  justify-content: space-around;
}
.page-item-selected {
  display: flex;
  justify-content: space-around;
  color: grey;
}
.page-item {
  display: flex;
  justify-content: space-around;
}
