.main-content {
  display: flex;
  justify-content: center;
}

.show-planet {
}

.toggle-planet {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.btn-toggle-planet {
  border: none;
  background: rgb(142, 197, 147);
  height: 50px;
  width: 150px;
}
