body {
  background-image: url(https://images.alphacoders.com/107/thumb-1920-107763.jpg);
  background-repeat: space;
  background-size: 100%;
}

@media (max-width: 1500px) {
  body {
    background-size: auto;
  }
}

.header {
  width: 80%;
  margin: auto;
}

.header-nav {
  display: flex;

  width: 100%;
}
