body {
  background-image: url(https://images.alphacoders.com/107/thumb-1920-107763.jpg);
  background-repeat: space;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  background-color: khaki !important;
}

.header {
  width: 80%;
  margin: auto;
}
.header-components {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.header-nav {
  display: flex;
  width: 100%;
}

@media (max-width: 1500px) {
  .header {
    width: 85%;
    margin: auto;
  }
}
