.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div.img-star-wars {
  padding: 0px;
}

.header-nav {
  display: flex;
  width: 100%;
  justify-content: center;
}

.header-components {
  display: flex;
  justify-content: center;
}
