// .search-list {
//   display: flex;
// }
// .search-group {
//   padding-top: 40px;
//   list-style-type: none;
// }
.result {
  color: lightcoral;
  text-decoration: none;
}

.result:hover {
  color: #fff;
}
