.navigation {
  display: flex;
  justify-content: center;
  height: 60px;
  margin-right: 20px;
}
.name-db,
a {
  display: flex;
  height: 40px;
}
.nav-links {
  display: flex;
  justify-content: flex-start;
  height: 40px;
}
