.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  margin-right: 20px;
}
.img-star-wars {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.container-nav-links {
  margin-bottom: 100px;
}
li {
  background-color: chartreuse;
}
